#calculator{
    width:200px;
    border:2px solid rgb(91, 84, 84);
    background-color:aliceblue;
    border-radius: 5px;
}
#monitor{
     margin:10px;
     width: 87%;
     font-size: 25px;
     background-color: white;
     border: 2px solid rgb(165, 165, 165);
}
.buttons{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
.btn{
    height:45px;
    width:45px;
    margin:3px;
}